<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DataRetrievalServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1990/DataRetrievalService.asmx"
                binding="basicHttpBinding" bindingConfiguration="DataRetrievalServiceSoap"
                contract="DataRetrieval.DataRetrievalServiceSoap" name="DataRetrievalServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>